
<div class="jumbotron" style="margin-bottom: 3 ">
	<div class="container">
        <h1 style="font-family:inherit"><%= current_user.user_name %>님의 스터디 신청/제안 리스트</h1>
    </div>
</div>

<table style="margin: 2%">
  <thead>
    <tr>
      <th>역할</th>
      <th>스터디명</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_has_study.each do |user_has_study| %>
      <tr>
        <td><%= user_has_study.user_role? %></td>
        <td><%= Study.find(user_has_study.study_id).study_name %></td>
        <td><%= link_to 'Destroy', user_has_study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
