

<div class="jumbotron" style="margin-bottom: 3; ">
	<div class="container">
        <h1 style="font-family:inherit">관리</h1>
    </div>
</div>

<br>



<br>

<td><%= link_to 'Study Administrate', studies %></td>

<%= link_to 'show', user_has_studies_path %>


<p></p>

