

<div class="jumbotron" style="margin-bottom: 3; ">
	<div class="container">
        <h1 style="font-family:inherit">회원관리</h1>
    </div>
</div>

<br>
<p>
  <strong>User name:</strong>

</p>

<table>
  <thead>
    <tr>
      <th>스터디명</th>
      <th>신청현황</th>
    </tr>
  </thead>


 
</table>

<br>


<p></p>

