

    
<div class="jumbotron" style="margin-bottom: 3 ">
	<div class="container">
        <h1 style="font-family:inherit">Do you know your <strong> <span style="color: #d44865; font: Bold;">possibilities?</span> </strong></h1>
    </div>
</div>




<div class="container">
    <div>
        <br>
            <%= render template: "categories/index_category" %>
        <br>
    </div>



        <br>
        <br>
            <%= render template: "studies/index_all" %>
        <br>
    </div>
    


    <hr>
    <div style="padding-top:0.7%;">
        <p>
        <center>
        <h4><span style="font:Bold">
            <%= link_to '스터디 제안하기', categories_path, {:style => 'color:#E48699;'} %></span>
        </h4>
        </center>
        </p>

        
    </div>

</div>


