

<div class="jumbotron" style="margin-bottom: 3; ">
	<div class="container">
        <h1 style="font-family:inherit">스터디 정보 수정</h1>
    </div>
</div>

<div class="container">
<%= render 'form_edit', study: @study %>

<%= link_to 'Back', category_path(@category) %>

</div>
