<div class="jumbotron" style="margin-bottom: 3; ">
	<div class="container">
        <h1 style="font-family:inherit">스터디 제안</h1>
    </div>
</div>

<div class="container">
<%= render 'form', study: @study %>


<%= link_to 'Back', studies_path %>
</div>