

<div class="jumbotron" style="margin-bottom: 3; ">
	<div class="container">
        <h1 style="font-family:inherit">카테고리 수정</h1>
    </div>
</div>

<div class="container">

<%= render 'form', category: @category %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>

</div>