<div>
<h1 style = "color: #489DD4; font-family:inherit">모든 카테고리</h1>
<br>
<hr>
<div style="margin: 1.5%">

    <% @categories.each do |category| %>
        <span style="font: Bold; font-size:20px; "><%= category.category_name %></span>
    <% end %>


</div>