<div>

<br>
<div style="margin: 0.5%">

    <% @categories.each do |category| %>

        <span style="font: Bold; font-size:20px; margin-left:5% ">
        
        <%= link_to category.category_name, category %>
        
        </span>
    <% end %>


</div>